<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>

<% @restaurants.each do |r|%>
  <h2><%= link_to r.name, restaurant_path(r) %></h2>
  <p><%= r.address %></p>
  <p><%= r.category %></p>
  <p><%= r.phone_number %></p>
<% end %>
